__pycache__/
*.py[cod]
*$py.class
*.egg-info

.python-version

.venv/
env/
.env

build
site

.vscode/
.zed/

*.log

notes.txt
test.py
keystone_in/
androidemu/highlevel/host
vfs/data/*
commit_msg.txt

tests/bin/*
tests/bin64/

!tests/bin/libcms.so
